{% extends 'layout.j2' %}
{% block content %}
<div class='container'>

<table id="Rank" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">rank</th>
      <th class="th-sm">nickname</th>
      <th class="th-sm">name</th>
      <th class="th-sm">score</th>
      <th class="th-sm">validated (highlights)</th>
      <th class="th-sm">pending</th>
      <th class="th-sm"></th>
    </tr>
  <tbody>
{% for u in users %}
    <tr>
      <td>{{ users[u].rank }}</td>
      <td>{{ u }}</td>
      <td>{{ users[u].name }}</td>
      <td>{{ users[u].score }} Points</td>
      <td>{{ users[u].validated|length }} ({{ users[u].highlight|length }})</td>
      <td>{{ users[u].pending|length }}</td>
      <td><a href="/user/{{ u }}" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready(function () {
  $('#Rank').DataTable(
     //{ "lengthChange": false, "bInfo": false, "bAutoWidth": false }
  );
});
</script>
{% endblock %}

