{% extends "bootstrap/base.html" %}
{% block title %}My RootMe Scoreboard{% endblock %}
{% block styles %}
{{super()}}
<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.dataTables_paginate {
    float : right;
}

.pagination {
    margin: 0;
}

.dataTables_filter {
    float : right;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
</style>
{% endblock %}
{% block navbar %}
<div class="jumbotron" style="">
    <h1>My RootMe Scoreboard</h1>
    <a href="/"><h2> Home </h2></a>
</div>
<div>
  <div class="col-lg-10">
  </div>
  <div class="col-lg-2">
    <a href="/refresh"  class="btn btn-default" role="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</a>
  </div>
</div>
{% endblock %}
{% block body %}
{{super()}}
<footer class="footer">
  <div class="container">
    <p class="text-center">&ltscoreboard for <a href="http://root-me.org">root-me.org</a>&gt;</p>
  </div>
</footer>
{% endblock %}


