{% extends 'layout.j2' %}
{% block content %}
<div class='container'>
 <div class='row'>
   <div class='col-lg-8'>
     <h2>{{ username }} <small>{{ profile.name }}</small></h3>
   </div>
   <div class='col-lg-4'>
     <h2>{{ profile.score }} Points</h2>
   </div>
 </div>
 <div class='row'>
   <div class='col-lg-12'>
     <h4>Highlights </h4>
     <ul class="list-group">
     {% for h in profile.highlight %}
       <li class="list-group-item"> {{ h }} </li>
     {% endfor %}
     </ul>
   </div>
 </div>
</div>
{% endblock %}

